{% extends "base.html" %}

{% load static tailwind_tags %}

{% block head %}
{% tailwind_css %}
{% tailwind_preload_css %}

<!-- To be replaced by self-hosted version -->
<script src="{% static 'js/alpinejscsp@3.14.8.min.js' %}" defer init nonce="{{ request.csp_nonce }}"></script>
<script nonce="{{ request.csp_nonce }}">
  document.addEventListener('alpine:init', () => {
      Alpine.data('counter', () => ({
          count: 0,
          increment() {
              this.count++
          }
      }))
  })
  </script>

{% endblock %}

{% block content %}
<div x-data="counter">
  <button x-on:click="increment">Increment</button>

  <span x-text="count"></span>
</div>
{% endblock %}