{% extends "base.html" %}

{% load static tailwind_tags %}

{% block head %}
{% tailwind_css %}
{% tailwind_preload_css %}

<!-- To be replaced by self-hosted version -->
<script  src="{% static 'js/vue.runtime.global.prod.min.js' %}" defer init nonce="{{ request.csp_nonce }}"
></script>
<script nonce="{{ request.csp_nonce }}" defer init>
  document.addEventListener('DOMContentLoaded', () => {
    const app = Vue.createApp({
      render(h) {
        return Vue.h('div', [
          Vue.h('div', `${this.count}`),
          Vue.h('button', {
            onClick: this.increment
          }, 'Click me')
        ]);
      },
      data() {
        return {
          count: 12,
          message: 'Hello Vue!'
        }
      },
      methods: {
        increment() {
          this.count++
        }
      }
    });
    app.mount('#app');
    console.log('[[count]]', "DOIGN INIT")
  });
</script>

{% endblock %}

{% block content %}

<div id="app"></div>
{% endblock %}